.profile-page {
    display: flex;
    flex: 1;
    gap: 5%;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
}

.profile-page .profile-section {
    background-color: red;
    width: 25%;
}

.profile-page .right-section {
    min-width: 0px !important;
    margin: 0;
}