.ratings-container {
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 225px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
}

.ratings-container .title {
    font-weight: 600;
    margin-left: -40%;
}

.ratings {
    list-style: none;
}

.ratings li {
    display: flex;
    text-align: left;
    margin-bottom: 3%;
    cursor: pointer;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: background-color 0.3s ease;
    padding-left: 5%;
    padding-right: 5%;
}

.ratings li:hover {
    background-color: rgb(240, 240, 240);
}

.ratings li span {
    margin-right: 7%;
}


.ratings li img {
    width: 25px;
    height: 25px;
}