.calendar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    font-size: 1.1rem;
  }
  
  .calendar-header h2 {
    margin: 0;
    font-size: 1em;
    color: #333;
  }
  
  .nav-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .nav-button:hover {
    color: #0056b3;
  }
  
  .days-of-week {
    display: flex;
    width: 115%;
    background-color: #F5F5F5;
    color: darkgray;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 10px 0;
    justify-content: space-around;
  }
  
  .day-of-week {
    flex: 1;
    text-align: center;
    font-weight: bold;
  }
  
  .calendar-body {
    display: flex;
    flex-wrap: wrap;
    width: 110%;
  }
  
  .day {
    width: 14.28%;
    height: 30px;
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 50%;
    margin: 5px 0;
    position: relative;
  }
  
  .day.current-month {
    background-color: #fff;
  }
  
  .day.other-month {
    background-color: white;
    cursor: auto;
  }

  .day.other-month:hover {
    background-color: white;
  }
  
  .day.today {
    color: white;
    font-weight: bold;
    background-color: #007bff;
  }
  
  .day:hover {
    background-color: #e0e0e0;
  }

  .box {
    width: 8px;
    height: 3px;
    border-radius: 10px;
    background-color: #007bff;
    position: absolute;
    bottom: 2%;
  }

  .help-info {
    margin-top: 7%;
    display: flex;
    width: 70%;
    margin-left: 50%;
    text-align: left;
    position: relative;
  }

  #help-box {
    top: 47%;
    left: -57%;
  }

  .calendar-footer {
    padding: 5px;
    border-top: 2px solid #F5F5F5;
    width: 100%;
    justify-content: left;
  }

  .today-button {
    display: inline-block;
    margin-left: -60%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .today-button:hover {
    background-color: #0056b3;
  }